mixin mainSlider([...arr])
    .main-slider.swiper
        .swiper-wrapper
            each mainSlider in arr 
                .main-slider__item.swiper-slide 
                    .main-slider__img 
                        picture 
                            source(media="(max-width: 768px)", srcset=mainSlider.mobileWebp, type="image/webp")
                            source(media="(max-width: 768px)", srcset=mainSlider.mobileImg)
                            source(srcset=mainSlider.webp, type="image/webp")
                            img(src=mainSlider.img, alt="")
                    .main-slider__content 
                        .main-slider__text 
                            .h1=mainSlider.name
                            p=mainSlider.descr
                        a(href="#").btn.light Подробнее
        .swiper-button-prev
            <svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <line x1="8.53033" y1="0.53033" x2="1.25073" y2="7.80993" stroke="black" stroke-width="1.5"/>
                <line y1="-0.75" x2="10.2949" y2="-0.75" transform="matrix(-0.707107 -0.707107 -0.707107 0.707107 8 14.9993)" stroke="black" stroke-width="1.5"/>
            </svg>
        .swiper-button-next 
            <svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <line x1="1.46967" y1="14.4697" x2="8.74927" y2="7.19007" stroke="black" stroke-width="1.5"/>
                <line y1="-0.75" x2="10.2949" y2="-0.75" transform="matrix(0.707107 0.707107 0.707107 -0.707107 2 0.000732422)" stroke="black" stroke-width="1.5"/>
            </svg>
        .swiper-pagination

            



                
             

            
        